<mat-selection-list #shoes [multiple]="false">
    <h3>Cursos disponibles</h3>
    <mat-list-option *ngFor="let curso of cursosDisponibles" [value]="curso">
        {{curso}}
    </mat-list-option>
</mat-selection-list>