mat-selection-list {
    width: 250px;
    background-color: white;
    border-radius: 10px;
}

mat-list-option:hover {
    background-color: orange;
    color: white;
    border-radius: 10px;
}

h3 {
    font-weight: lighter;
    color: orange;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}