<mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="cardHome">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/cursos.jpg" alt="Cursos">
            <mat-card-content>
                <mat-card-title>Administracion de cursos</mat-card-title>
                <p>
                    Administra los cursos de tu institución de una forma rápida y sencilla.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="cardHome">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/usuarios.jpg" alt="Usuarios">
            <mat-card-content>
                <mat-card-title>Administracion de usuarios</mat-card-title>
                <p>
                    Da de alta edita, elimina usuarios, ya sean alumnos o profesores.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="cardHome">
            <mat-card-header>
            </mat-card-header>
            <img mat-card-image src="/assets/images/clase.jpg" alt="Clase">
            <mat-card-content>
                <mat-card-title>Administracion de clases</mat-card-title>
                <p>
                    Calificaciones, trabajos, explicaciones, todo en un lugar.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-list></app-list>
    </mat-grid-tile>

</mat-grid-list>