<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <mat-card class="mini">
            <div class="circcard"><img src="assets/images/curso.png" alt="" class="imgcard"></div>
            <div class="titulocard">Cursos</div>
            <div class="numcard">{{quantity}}</div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="mini">
            <div class="rounded-circle circcard"><img src="assets/images/alumno.png" alt="" class="imgcard"></div>
            <div class="titulocard">Alumnos</div>
            <div class="numcard">{{quantity + 150}}</div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="mini">
            <div class="rounded-circle circcard"><img src="assets/images/prof.png" alt="" class="imgcard"></div>
            <div class="titulocard"> Profesores</div>
            <div class="numcard">{{quantity + 50}}</div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="mini">
            <div class="rounded-circle circcard"><img src="assets/images/evento.png" alt="" class="imgcard"></div>
            <div class="titulocard"> Eventos</div>
            <div class="numcard">{{quantity - 75}}</div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>