mat-card {
    width: 100%;
    height: 50px;
}

.mini {
    width: 80%;
}

.circcard {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF9900;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
}

.imgcard {
    width: 26px;
    height: 26px;
}

.titulocard {
    float: right;
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

.numcard {
    float: right;
    margin-top: 20px;
    margin-right: -33px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    text-align: center;
}