<form class="formCurso">

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Descripción</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Nivel</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>

        </tr>
    </table>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Dias</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Horario</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </td>

        </tr>
    </table>
</form>
<button mat-raised-button color="primary">Guardar</button>