<form class="formProf">

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Apellido</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <mat-label>Mail</mat-label>
                    <input matInput placeholder="Ej: pepe@mail.com">
                </mat-form-field>
            </td>

        </tr>
    </table>

    <table class="full-width" cellspacing="0">
        <section class="example-section">
            Curso asignado:
            <span class="example-list-section">
              <ul>
                <li *ngFor="let subtask of task.subtasks">
                  <mat-checkbox [(ngModel)]="subtask.completed"
                                [color]="subtask.color"
                                (ngModelChange)="updateAllComplete()">
                    {{subtask.name}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
        </section>
    </table>
</form>
<button mat-raised-button color="primary">Guardar</button>