.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}
  
 .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container input {
    border-radius: 0.5rem;
}
  
.button-row button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #2f1ecc;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
}

.logo{
    float:left;
    width: 616px;
    height:856px;
    display:block;    
}