<div fxFlexFill fxLayout="column" fxLayoutGap="1rem" class="container">
    <div fxFlex fxLayoutAlign="center">
        <img class="logo" src="assets/images/sign.jpg" alt="" />
        <form #form="ngForm" (ngSubmit)="login()">
            <div fxLayoutAlign="start center" fxLayoutGap="2rem">
                <div fxFlex>
                    <h1>Bienvenido de vuelta!!</h1>
                    <mat-form-field fxFlexFill>
                        <input matInput type="text" [(ngModel)]="user" name="user" class="login-input" placeholder= 'Usuario'>
                    </mat-form-field>
                    <mat-form-field fxFlexFill>
                        <input matInput [type]="hide ? 'password' : 'text'"  [(ngModel)]="password" name="password" class="login-input" placeholder= 'Contraseña'>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <div class="button-row">
                        <button mat-raised-button color="primary" type="submit" >INGRESAR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>