.example-container {
    width: 100%;
    height: 100%;
}

.side {
    background-color: #2E2E3B;
    width: 200px;
    padding: 15px 10px;
}

.logoWE {
    width: 60px;
    height: 60px;
    margin-bottom: 25%;
    margin-top: 10%;
    margin-left: 25%;
}

.sidebar-header {
    padding: 20px;
}

ul {
    padding-inline-start: 0;
}

ul.components {
    padding: 20px 0;
}

a {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

a:hover {
    background-color: #1D1D25;
    color: orange;
}

.btnCerrarSes {
    width: 100%;
    margin-top: 100%;
}

.navbar {
    padding: 15px 10px;
    background: #2E2E3B;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.collapse {
    background: none;
    border: none;
    color: white;
}

.collapse:hover {
    color: orange;
}