<mat-drawer-container class="example-container">

    <mat-drawer mode="side" opened class="side">
        <div class="sidebar-header">
            <a>
                <img src="assets/images/libro.png" alt="" class="logoWE">
            </a>
        </div>
        <ul>
            <li>
                <a routerLink="home">Home</a>
            </li>
            <li>
                <a routerLink="cursos">Cursos</a>
            </li>
            <li>
                <a routerLink="prof">Profesores</a>
            </li>
            <li>
                <a href="alumno.html" class="list-group-item list-group-item-action ">Alumnos</a>
            </li>
            <li>
                <a href="eventos.html" class="list-group-item list-group-item-action ">Eventos</a>
            </li>
        </ul>

        <ul>
            <li>
                <button mat-raised-button color="warn" class="btnCerrarSes">Cerrar sesión</button>
            </li>
        </ul>


    </mat-drawer>
    <mat-drawer-content>
        <nav class="navbar">
            <div class="container-fluid">

                <button class="collapse">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.146 7.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 11l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M2 11a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 11zm3.854-9.354a.5.5 0 0 1 0 .708L3.207 5l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M2.5 5a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                </button>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>